div.navbar.navbar-fixed-top
	div.navbar-inner
		div.container-fluid
			ul.nav.pull-left
				img(src='img/mobilent-32-in-40.gif', alt='MobilEnt logo')
			ul#global-nav.nav.pull-left
				a(href='../home').brand MobilEnt
			button#btn-logout.btn.btn-primary
				i.icon-lock.icon-white
				| Sign Out